.element-quantity {
    background-color: #526DC4;
    min-height: 1920px;
    min-width: 1080px;
    position: relative;
    width: 100%;
}

.element-quantity .print-quantity {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    height: 84px;
    justify-content: center;
    left: calc(50.00% - 161px);
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: calc(50.00% - 470px);
    width: 361px;
}

.element-quantity .quantity {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 128px;
    font-weight: 400;
    height: 114px;
    justify-content: center;
    left: 454px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 719px;
    white-space: nowrap;
    width: 182px;
}

.element-quantity .button-next {
    height: 166px;
    left: 560px;
    position: absolute;
    top: 980px;
    width: 475px;
}

.element-quantity .rectangle {
    background-color: #ffffff;
    border: 7px solid;
    border-color: #244a6d;
    border-radius: 104.5px;
    height: 102px;
    left: 94px;
    position: absolute;
    top: 32px;
    width: 284px;
}

.element-quantity .text-wrapper {
    align-items: center;
    color: #244a6d;
    display: flex;
    font-family: "Cafe24 Ssurround-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    height: 166px;
    justify-content: center;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 473px;
}

.element-quantity .button-prev {
    height: 166px;
    left: 87px;
    position: absolute;
    top: 980px;
    width: 475px;
}

.element-quantity .div {
    background-color: #ffffff5e;
    border: 7px solid;
    border-color: #244a6d;
    border-radius: 104.5px;
    height: 102px;
    left: 94px;
    position: absolute;
    top: 32px;
    width: 284px;
}

.element-quantity .button-quantity {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 200px;
    font-weight: 400;
    height: 239px;
    justify-content: center;
    left: 244px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 653px;
    white-space: nowrap;
}

.element-quantity .button-quantity-plus {
    align-items: center;
    color: #ffffff;
    display: flex;
    font-family: "Pretendard-Regular", Helvetica;
    font-size: 200px;
    font-weight: 400;
    height: 239px;
    justify-content: center;
    left: 746px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 639px;
    white-space: nowrap;
}
